@media (max-width: 510px){
    #header{
        font-size: 34px;
    }
    .timer-box{
        max-width: 85%;
        height: 23rem;
    }
    .timer-box h1{
        font-size: 22px;
    }
    #description{
        font-size: 23px;
    }
    #timer{
        font-size: 3rem;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    #hours,#minutes, #seconds{
        font-size: 2rem;
        width: 17%;
    }
    #break-notifasion{
        font-size: 23px;
    }
    #break-notifasion.show-break,#break-notifasion.show-break-end{
        font-size: 23px;
    }
    #break-notifasion.show-top{
        font-size: 20px;
    }
    #breaks,#breaks-after{
        font-size: 23px;
    }
}